/* General */

:root {
  --white: #FFFFFF;
  --black: #000000;
  --very-light-pink: #C7C7C7;
  --text-input-field: #F7F7F7;
  --hospital-green: #ACD9B2;
  --sm: 14px;
  --md: 16px;
  --lg: 18px;
}
body {
  margin: 0;
  font-family: 'Quicksand', sans-serif;
}

.inactive{
  display: none;
}

/* NavBar general */

nav {
  display: flex;
  justify-content: space-between;
  padding: 0 24px;
  border-bottom: 1px solid var(--very-light-pink);
  align-items: center;
}
.menu {
  cursor: pointer;
}
.logo {
  width: 150px;
}

.navbar-left ul,
.navbar-right ul {
  list-style: none;
  padding: 0;
  margin:0;
  display: flex;
  align-items: center;
  height: 60px;
}

.navbar-right ul li{ 
  display: inline; 
  /* con el display inline dentro de una lista logro espaciar de forma adecuada los elementos dentro de la lista agregandoles margin o padding necesarios */
  /* padding-left: 10px; */  
}


.navbar-right ul li:nth-child(2){
  padding-left: 6px;
}

.navbar-right ul li img{
  object-fit: cover;
  height: 100%;
  width: 100%;
  cursor: pointer;
}


.navbar-left {
  display: flex;
}

section{
  height: 300px;
}
.submit-info {
  display: grid;
  place-content: center;
  padding-right: 100px;
}
.boton{
  height: 50px;
  padding: 0 8px;
  border-radius: 8px;
  border: none; 
  background-color: var(--hospital-green);
  color: var(--white);
  font-family: 'Quicksand', sans-serif;
}

/* Menu en desktop */
.desktop-menu {
  background-color: var(--white);
  position: absolute;
  top: 151px;
  padding: 24px;
  left: 0;
  width: 100%;
  height: 100%;
}
.desktop-menu a {
  text-decoration: none;
  color: var(--black);
  font-weight: bold;
}
.desktop-menu ul {
  padding: 0;
  margin: 24px 0 0;
  list-style: none;
}
.desktop-menu ul:nth-child(1) {
  border-bottom: 1px solid var(--very-light-pink);
}
.desktop-menu ul li {
  margin-bottom: 24px;
}

.sign-out {
  font-size: var(--sm);
  color: var(--hospital-green) !important;
}

/* media queries */

@media (max-width: 640px) {
    .menu {
    display: block;
    }
    .navbar-left ul {
    display: none;
    }
    .navbar-email {
    display: none;
    }

    .desktop-menu{
        display: none;
    }

    aside {
        width: 100%;
    }

    .cards-container {
        grid-template-columns: repeat(auto-fill, 140px);
      }
      .product-card {
        width: 140px;
      }
      .product-card img {
        width: 140px;
        height: 140px;
    }
}

